{% extends 'layouts/base.html' %}
{% block title %} Blogs {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>

    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
        <div class="container">
        <div class="row">
        <div class="col-xl-12">
        <div class="hero-cap hero-cap2 pt-20 text-center">
        <h3>Blogs to be posted soon! Cant wait!</h3>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>

</main>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
